NEXTAUTH_URL="http://localhost:3000"

NEXT_PUBLIC_BASE_URL="https://example.com/api"
NEXT_PUBLIC_BASE_USER_URL="https://example.com/api/user"
NEXT_PUBLIC_BASE_COMPANY_URL="https://example.com/api/company"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="client-id"
NEXT_PUBLIC_LINKEDIN_CLIENT_ID="client-id"

NEXTAUTH_SECRET="generate-a-secret-value"
NEXTAUTH_SESSION_COOKIE="next-auth.session-token"
GOOGLE_CLIENT_ID="client-id"
GOOGLE_CLIENT_SECRET="client-secret"
LINKEDIN_CLIENT_ID="client-id"
LINKEDIN_CLIENT_SECRET="client-secret"
